<div class="container footer mt-5 pb-3">
  <ul class="list-inline text-end">
    <li class="list-inline-item">
      <a href="/posts">Posts</a>
    </li>
    <li class="list-inline-item">
      <a href="/feed.xml">Feed</a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/matthewhaynesonline">GitHub</a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.youtube.com/@matthewhaynesonline">YouTube</a>
    </li>
    <li class="list-inline-item">
      <a href="https://huggingface.co/matthewhaynesonline">Hugging Face</a>
    </li>
  </ul>
</div>

<script src="{{ "/assets/js/auto-anchors.js" | relative_url }}" defer></script>
