{% assign masthead_class = include.masthead_class | default: "" %}
<header class="masthead {{ masthead_class }}">
  <div class="masthead-inner">
    {% unless include.hide_brand %}
    <a class="masthead-brand link-plain" href="/">Matthew Haynes</a>
    {% endunless %}

    <div class="masthead-nav">
      <a class="link-ui" href="/essays">Essays</a>
      <a class="link-ui" href="/posts">Posts</a>
      <div data-svelte-component="Search"></div>
      <div data-svelte-component="ThemeToggle"></div>
    </div>
  </div>
</header>
