<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>

    {% seo %}

    <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ '/assets/favicon-32x32.png' | relative_url }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ '/assets/favicon-16x16.png' | relative_url }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ '/assets/apple-touch-icon.png' | relative_url }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <link rel="stylesheet" href="{{ "/assets/dist/bundle.css" | relative_url }}">
    <script type="module" src="{{ "/assets/dist/bundle.js" | relative_url }}"></script>
  </head>