{% if page.previous %}
<a
  class="page-nav-link text-truncate"
  href="{{ page.previous.url | relative_url }}"
>
  <span class="fw-bold">Prev:</span> {{ page.previous.title }}
</a>
{% endif %} {% if page.next %}
<a
  class="page-nav-link text-truncate float-end d-none d-md-inline-block"
  href="{{ page.next.url | relative_url }}"
>
  <span class="fw-bold">Next:</span> {{ page.next.title }}
</a>

<a
  class="page-nav-link text-truncate d-block d-md-none"
  href="{{ page.next.url | relative_url }}"
>
  <span class="fw-bold">Next:</span> {{ page.next.title }}
</a>
{% endif %}
