<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" data-bs-theme="auto">
  {% include html_head.html %}
  <body>
    {% include header.html %}

    <div class="container main-container">
      <div class="row">
        <div class="col">
          <div class="my-4">
            {% include title_date.html %}
          </div>

          {{ content }}

          {% if page.previous %}
            <a href="{{ page.previous.url | relative_url }}">
              ← {{ page.previous.title }}
            </a>
          {% endif %}

          {% if page.next %}
            <a class="float-end" href="{{ page.next.url | relative_url }}">
              {{ page.next.title }} →
            </a>
          {% endif %}
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>
</html>
