<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" data-bs-theme="auto">
  {% include html_head.html %}
  <body class="essay">

    <nav data-bs-theme="light">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between">
      <a class="home-link text-body-emphasis word-mark-font" href="/">MH</a>
      <div data-svelte-component="ThemeToggle"></div>
    </div>
  </div>
  </nav>

  <div class="banner">
    <img src="{{ page.banner_img }}" alt="Banner img" />

    <div class="banner-text">
      <h1 >{{ page.title }}</h1>

        <h4 class="text-body-tertiary">
          <small> {{ page.date | date: "%b %d, %Y" }} </small>
        </h4>
      </div>
  </div>

    {% include two_column_content.html show_title=false container_class="container-fluid main-container mt-2" %}

    {% include footer.html %}
  </body>
</html>
